In [1]:
a=10
b=10
a+b

20

In [3]:
#설명

파이썬 첫번째 예제

In [8]:
a=10
b=4

In [9]:
#사칙연산
print(a+b)
print(a-b)
print(a*b)
print(a/b)

14
6
40
2.5

In [10]:
#정수의 목과 나머지
print(a//b)
print(a%b)

2
2

In [11]:
# 지수성
print(a**b)

10000

In [13]:
# 증가, 감소 연산
a+=1; print(a)
a-=1; print(a)

11
10

In [14]:
# 비교연산
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

True
False
False
True
True
False

In [15]:
print(a, b)

10 4

In [ ]:
#a=1010
#b=0100

In [22]:
# 비트 연산
print(a&b)
print(a|b)
print(a^b)
print(~a+1)
print(a<<3)
print(a>>2)

0
14
14
-10
80
2

In [29]:
# 논리 연산
print(a>5 and b<5)
print(a>5 and b>5)
print(not(a>5 or b<5))
print(not(a<5 or b>5))

True
False
False
True

In [30]:
a=10

In [32]:
# 형변환(정수-> 실수, 실수 -> 정수)
b=float(a)
print(a, b)
c=int(b)
print(a, b, c)

10 10.0
10 10.0 10

In [33]:
# 자동 형변화
print(a/3)

3.3333333333333335

In [34]:
print(1==True)
print(0==False)

True
True

In [36]:
#형변환 : 문자열 -> 실수로
a='25.6'
b="55.6"
fa=float(a)
fb=float(b)
print(a, b, fa, fb)
print(type(a), type(fa))

25.6 55.6 25.6 55.6
<class 'str'> <class 'float'>

In [39]:
#더하기 연산 : 숫자+숫자, 문자+문자 , 문자+숫자 불가능
print(a+' '+b)
print(fa+fb)

25.6 55.6
81.2

In [41]:
#문자열 곱하기
s1="*"
print(s1*10)

**********

In [43]:
# in, not in 연산자
s2="abcd"
print('a' in s2)
print('a' not in s2)

True
False

In [46]:
# 입력함수
name=input("이름을 입력하세요")
print(name)

홍

In [48]:
# 입력함수는 항상 문자열을 리턴 => 숫자 데이터는 형변환 필요
c=float(input("섭씨 온도를 입력하세요"))
f=c*1.8+32
print('섭씨온도 :', c)
print('화씨온도:', f)

섭씨온도 : 32.5
화씨온도: 90.5

In [56]:
# if 문
a=5
if(a==5):
  print("Right")
  print("a is 5")
print("**********")

Right
a is 5
**********

In [57]:
#if - else 문
if(a==5):
  print("Right")
  print('a is 5')
else:
  print('a is not 5')

print("end if")

Right
a is 5
end if

In [59]:
# if- elif - else 문
score=float(input("점수 입력"))

if(score>=90):
  print("등급 A입니다")
elif(score>=80):
  print("등급 B입니다")
elif(score>=70):
  print("등급 C입니다")
else:
  print("등급 F입니다")

등급 F입니다

In [60]:
# if문의 조건 논리 연산자 사용
#평균이 70점 이상이고, 각 과목의 점수는 60점 이상이면 합격
score1=float(input("점수1"))
score2=float(input("점수2"))

avg=(score1+score2)/2
if(avg>=70 and score1>=60 and score2>=60):
  print("합격")
else:
  print("불합격")

합격

In [ ]:
score1=float(input("점수1"))
score2=float(input("점수2"))
avg=(score1+score2)/2
if(avg<70 or score1<60 or score2>60):
  print("불합격")
else:
  print("합격")

In [64]:
# if - elif - else, 논리연산자  실습 
year=input("태어난 연도 입력")
age=2024-int(year)+1

if(age>26 or age<8):
  print("학생이 아닙니다")
elif(age>=20):
  print('대학생')
elif(age>=17):
  print('고등학생')
elif(age>=14):
  print('중학생')
elif(age>=8):
  print("초등학생")

초등학생

In [68]:
#for문 범위 사용
for i in range(0,10,1):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [69]:
# for문 collection 사용
a=[1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [70]:
s1="abcdef"
for i in s1:
  print(i)

a
b
c
d
e
f

In [72]:
# break, continue 사용
for i in range(10):
  if i==5:continue
  if i==8:break
  print(i)

0
1
2
3
4
6
7

In [74]:
# 조건문, 반복문 실습하기
while True:
  print("음료목록:1.오렌지주스(100), 2.커피(200), 3.콜라(300), 4.종료")
  coin=int(input("동전을 넣어주세요"))
  drink=int(input("음료를 선택하세요"))

  if drink==1:
    if coin>=100:
      remain=coin-100
      print("음료가 곧 제공됩니다")
      print("잔액:", remain)
    else:
      print("잔액이 부족합니다")

  elif drink==2:
    if coin>=200:
      remain=coin-200
      print("음료가 곧 제공됩니다")
      print("잔액:", remain)
    else:
      print("잔액이 부족합니다")

  elif drink==3:
    if coin>=300:
      remain=coin-300
      print("음료가 곧 제공됩니다.")
      print("잔액:", remain)
    else:
      print("잔액이 부족합니다")

  elif drink==4:
    remain=coin-0
    print("종료선택")
    print("잔액:", remain)
    break
  else:
    print("없는 메뉴입니다")

print("end")

음료목록:1.오렌지주스(100), 2.커피(200), 3.콜라(300), 4.종료
종료선택
잔액: 100
end

In [77]:
# 함수 실습(call by value)
def f(x):
  y=x
  x=5
  print("x=",x)
  return y*y
x=3
print(f(x))
print(x)

x= 5
9
3

In [78]:
# 함수 실습 (call by reference)
def spam(ham):
  ham.append(1)

ham=[0]
spam(ham)
print(ham)

[0, 1]

In [79]:
# 변수의 범위
def test(t):
  print(x)
  t=20
  print('In Function :', t)

x=10
test(x)
print('In main:',x)
print('In Main:',t)

10
In Function : 20
In main: 10

NameError: name 't' is not defined

In [82]:
# 전역변수 함수 영역에서 사용
def f():
  #s="I love London!"
  global s
  s="I love London"
  print('In function:',s)

s="I love Paris!"
f()
print("In Main:",s)

In function: I love London
In Main: I love London

In [84]:
# 함수의 매개변수
def f(a, b, c):
  print(a, b, c)

f(1, 2, 3)
f(b=10, c=30, a=5)

1 2 3
5 10 30

In [86]:
# 디폴트 매개변수
def f1(a, b=5, c=10):
  print(a, b, c)

f1(10, 20)
f1(10, 20, 30)
f1(30)

10 20 10
10 20 30
30 5 10

In [90]:
# 가변 인수 활용
def func1(*arg):
  a, b, *c=arg
  print(a, b, c)
  print(a, b, *c)

func1(1, 2, 3)
func1(1, 2, 3, 4, 5)
func1(1, 2, 3, 4, 5,6,7)

1 2 [3]
1 2 3
1 2 [3, 4, 5]
1 2 3 4 5
1 2 [3, 4, 5, 6, 7]
1 2 3 4 5 6 7

In [92]:
# 키워드 가변 인수
def func2(**kwarg):
  print(kwarg)
  print("first:{first}".format(**kwarg))
  print("second:{second}".format(**kwarg))
  print("third:{third}".format(**kwarg))

func2(first=10, second=20, third=30)

{'first': 10, 'second': 20, 'third': 30}
first:10
second:20
third:30

In [98]:
# 문자열 인덱싱
a='Hello world'
print(a[0], a[10])
print(a[-11], a[-1])

H d
H d

In [104]:
# 문자열 슬라이싱
print(a[1:9:2]) #start:stop:step
print(a[::-1])
print(a[-50:50])
print(a[::2])
print(a[5:])
print(a[:5])

el o
dlrow olleH
Hello world
Hlowrd
 world
Hello

In [108]:
#문자열 연산
a='team'
b='lab'
print(a+", "+b)
print(a*2+b*3)
print(a+str(2))

team, lab
teamteamlablablab
team2

In [122]:
# 문자열 함수 활용
a='teamlab x iNflearn'
print(a.title())
print(a.lower())
print(a.upper())
print(a.capitalize())
print(a.count('a'))
print(a.isdigit())
print(a.startswith("team"))
print(a.endswith('n'))
print(a.split())

Teamlab X Inflearn
teamlab x inflearn
TEAMLAB X INFLEARN
Teamlab x inflearn
3
False
True
True
['teamlab', 'x', 'iNflearn']

In [ ]:
b="""It's Ok
I'm happy
See you"""
c='''abdc
kkkk
ddd
'''

In [123]:
# 문자열 함수 활용 실습
f=open('yesterday.txt','r')
yesterday_list=f.readlines()
yesterday_list
f.close()

['Yesterday all my troubles\n',
 'seemed so far away.\n',
 'Now it looks\n',
 "as though they're here to stay.\n",
 'Oh, I believe in yesterday.\n',
 '\n',
 "Suddenly I'm not half\n",
 'the man I used to be.\n',
 "There's a shadow hanging over me.\n",
 'Oh, yesterday came suddenly.\n',
 '\n',
 'Why she had to go,\n',
 "I don't know,\n",
 "she wouldn't say.\n",
 'I said something wrong,\n',
 'now I long for yesterday.\n',
 '\n',
 'Yesterday love was\n',
 'such an easy game to play.\n',
 'Now I need a place to hide away.\n',
 'Oh, I believe in yesterday.\n',
 '\n',
 'Why she had to go,\n',
 "I don't know,\n",
 "she wouldn't say.\n",
 'I said something wrong,\n',
 'now I long for yesterday.\n',
 '\n',
 'Yesterday love was\n',
 'such an easy game to play.\n',
 'Now I need a place to hide away.\n',
 'Oh, I believe in yesterday.\n',
 '\n',
 'Mm mm mm mm mm mm mm\n']

In [126]:
contents=""
for line in yesterday_list:
  contents=contents + line.strip()+"\n"

#print(contents)
n_of_yesterday=contents.lower().count('yesterday')
print("Number of a word 'Yesterday'", n_of_yesterday)

Number of a word 'Yesterday' 9

In [133]:
# 문자열 서식 %, format()
name="홍길동"
age=20
job="학생"
print(name, age, job)
print('내이름은 ', name,'이고, 나이는 ',age,'살이며, 직업은 ',job,'입니다')
print('내이름은 %s이고, 나이는 %d이며, 직업은 %s입니다'%(name,age,job))
print("내이름은 {0}이고, 나이는 {1}이며, 직업은 {2}입니다".format(name,age,job))
print("이름:{0},직업은 {1}이고, 이름은 {0}입니다".format(name, job))

홍길동 20 학생
내이름은  홍길동 이고, 나이는  20 살이며, 직업은  학생 입니다
내이름은 홍길동이고, 나이는 20이며, 직업은 학생입니다
내이름은 홍길동이고, 나이는 20이며, 직업은 학생입니다
이름:홍길동,직업은 학생이고, 이름은 홍길동입니다

In [142]:
print("%10s"%(name))
print("%10d"%age)
print("%5.2f"%5.4567745)

       홍길동
        20
 5.46

In [146]:
print("{0:>10s}".format(name))
print("{0:<10s}{1}".format(name, age))

       홍길동
홍길동       20

In [147]:
print("{name1:<5}{age1:<5}{job1:>5}".format(name1=name, age1=age, job1=job))

홍길동  20      학생